<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>simple-time-servlet</display-name>
  <!-- 
  Servlet that continuously publish the current UTC time
  on the topic "currentUTCTime"
   -->
    <servlet>
    <servlet-name>SimpleTimeUpdate</servlet-name>
    <servlet-class>org.vopen.SimpleTimeUpdate</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>