doctype html
html(lang="en")
  head

    // framework7 meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')

    // styles
    link(rel='stylesheet' href='lib/onsenui/css/onsenui.css')
    link(rel='stylesheet' href='lib/onsenui/css/onsen-css-components.css')
    link(rel="stylesheet", type="text/css", href="css/style.css")

    // javascript
    script(type="text/javascript" src='lib/jquery/jquery.js')
    script(type="text/javascript" data-main="js/loader" src='lib/require/require.js')

    title VOpen Administrator

  body
    div#app
